body
{
    background-color: #e3e3e3;
}
header
{
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg ,rgb(236, 245, 245) 20%, rgb(0, 51, 128) 20% 28%, rgb(255, 255, 255) 28% 36%, steelblue 36% 64%, rgb(255, 255, 255) 64% 72%, rgb(0, 51, 128) 72% 80%, #e3e3e3 80%);
}
#ellipse
{ 
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(177, 177, 177);
    height: 120px;
    width: 300px;
    border-radius: 50%;  
}
header h1
{
    font-size: 36px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(177, 177, 177) ;
} 
header h2
{
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: -12px;
}
nav
{ 
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    background-color: rgb(0,0,0,0);
    padding-top: 10px;
}
#shape
{
    height: 40px;
    width: 80%;
    background-color: steelblue;
    border-radius: 20px;
}
nav ul
{
    margin-left: -60px;
}
nav li
{
    position: relative;
    bottom: 10px;
    padding-left: 100px;
    padding-right: 80px;
    list-style-type: none;
    display: inline-block;
}
a:hover
{
    text-decoration: underline;
}
main
{
    background-repeat: no-repeat;
    background: rgb(236, 245, 245);   
    margin-top: -142px;
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 20px;
}
main h2
{
    font-size: 36px;
    margin-left: 12%;
    padding-top: 140px;
    padding-bottom: 10px;
}
main ul
{
    padding: 0;
}
a
{
    font-size: 24px;
    text-decoration: none;
    color:black
}
#projects
{
    display: flex;
    margin-left: 60px;
    margin-right: 40px;
}
#projects:nth-of-type(1)
{
    align-content: center;
}
#projects:nth-of-type(2)
{
    align-content: center;
}
#projects:nth-of-type(3)
{
    align-content: center;
}
#projects li
{
    flex: 30%;
    list-style-type: none;
    padding-right: 20px;
    text-align: center;
}
#projects img
{
    max-width: 100%; 
    max-height: 80%;
}
.about
{
    display: flex;
    padding-left: 40px;
    padding-right: 20px;
}
.about img
{
    max-width: 100%;
}
#aboutImg
{
    margin-left: 50px;
    padding-right: 20px;
}
#aboutTxt
{
    margin-top: 10px
}
.about p
{
    font-size: 18px;
    padding-top: 30px;
}
.cgTxt img
{
    padding-left: 55px;
}
.cgTxt p
{
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
}
.cgTxt a
{
    font-size: 24px;
    text-decoration: none;
    color:steelblue;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
}
.hatTxt img
{
    padding-left: 55px;
}
.hatTxt p
{
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}
.hatTxt a
{
    font-size: 24px;
    text-decoration: none;
    color:steelblue;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
}
.row
{
    display: inline-block;
    margin-left: 90px;
}
.vfx
{
    width: 250px;
    height: 200px;
    /* border: 2px solid black; */
}
#vfxTxt
{
    font-size: 18px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 30px;
}
footer
{
    margin-top: -32px;
    margin-left: 60px;
    margin-right: 60px;
    height: 60px;
    background-color: rgb(236, 245, 245);
    font-size: 24px;
    text-align: center;
}
h4
{
    border-top: 2px dotted steelblue;
    padding-top: 12px;
}

@media (max-Width: 900px)
{

}
