*
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 2.5%;
    background-color: #e3e3e3;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
  }
html 
{
    scrollbar-width: none;
}
ul
{
    list-style: none;
    margin: 0;
}
header
{
    text-align: center;
}
.logoBackground
{
    height: 100px;
    background: linear-gradient(0deg ,#e3e3e3 20%, rgb(0, 51, 128) 20% 28%, rgb(255, 255, 255) 28% 36%, steelblue 36% 64%, rgb(255, 255, 255) 64% 72%, rgb(0, 51, 128) 72% 80%, #e3e3e3 80%);
}
#logo
{
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(177, 177, 177);
    height: 100px;
    max-width: 400px;
    border-radius: 50%;
}
#logo h1
{
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(177, 177, 177) ;
}
#logo h2
{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    padding-top: 5px;
}
.navbg
{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: steelblue 3px solid;
}
a
{
    font-size: 20px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}
nav
{
    display: flex;
}
nav a
{   
    flex: 20%;
    white-space: nowrap;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    background-color: rgb(0, 51, 128);
    border: rgb(177, 177, 177) solid 2px;
    border-radius: 30px;
    text-align: center;
    font-size: 1vw;
    color: white;
}
nav a:hover
{
    background-color: rgb(0, 84, 210);
    color: white;
    text-decoration: underline;
}
main, footer
{
    margin-left: 3%;
    margin-right: 3%;
}
.container-fluid
{
    padding: 0;
}
main .container-fluid
{
    border-top: steelblue 3px solid;
    border-right: steelblue 3px solid;
    border-left: steelblue 3px solid;
}
footer .container-fluid
{
    border-bottom: steelblue 3px solid;
    border-right: steelblue 3px solid;
    border-left: steelblue 3px solid;
}
.content
{
    padding: 30px;
    background-color: rgb(255, 255, 255);
}
.aboutbg, .cgbg, .hbg, .vfxbg, .badbg
{
    padding: 30px;
    background-color: rgb(255, 255, 255);
}
#projects, #cgPics, #hpics, .vfxList, #badpics
{
    display: flex;
    padding-top: 20px;
}
#projects li, #cgPics li, #hpics li, #badpics li
{
    flex: 30%;
    text-align: center;
}
.vfxList li
{
    flex: 20%;
    text-align: center;
}
#projects img, .vfx
{
    max-width: 80%; 
    max-height: 80%;
}
#cgPics video, #hpics video
{
    max-width: 91%;
    max-height: 91%;
}
#cgPics img, #hpics img, #badpics img, #badpics video
{
    max-width: 95%;
    max-height: 95%;
}
.mini-about
{
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 20;
}
#about
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.content h2, .aboutbg h2, .cgbg h2, .hbg h2, .vfxbg h2, .badbg h2
{
    display: block;
    text-align: center;
    border: rgb(177, 177, 177) solid 2px;
    color: white;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: steelblue
}
.aboutImg
{
    flex: 1;
}
#about img
{
    max-height: 100%;
    max-width: 100%;
}
.aboutTxt
{
    flex: 2;
    margin-left: 50px;
}
.aboutTxt p
{
    max-height: 100%;
    max-width: 100%;
    font-size: 16px;
}
.general, .details
{
    font-size: 18px;
}
.details
{
    border-bottom: steelblue dotted 2px;;
}
.skills, .dooties
{
    margin-left: 50px;
}
.vfxTxt, .details, .gameSummary
{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gameSummary h4
{
    font-size: 20px;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gameSummary p
{
    margin-left: 30px;
}

.dooties
{
    list-style: circle;
}
.gameInfo
{
    padding: 5px;
    color: white;
    background-color: rgb(0, 51, 128);
    border: rgb(177, 177, 177) 2px solid;
}
.gameInfo:hover
{
    background-color: rgb(0, 84, 210);
    color: white;
    text-decoration: underline;
}
#vfxTxt
{
    font-size: 18px;
}
.footbg
{
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    border-top: 2px dotted steelblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 1200px)
{
    #about
    {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .aboutImg
    {
        margin: auto;
        max-width: 400px;
    }
    .aboutTxt
    {
        margin-top: 30px;
    }
}
