*
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 2.5%;
    background-color: #e3e3e3;
}
ul
{
    list-style: none;
    margin: 0;
}
header
{
    text-align: center;
}
.logoBackground
{
    height: 100px;
    background: linear-gradient(0deg ,#e3e3e3 20%, rgb(0, 51, 128) 20% 28%, rgb(255, 255, 255) 28% 36%, steelblue 36% 64%, rgb(255, 255, 255) 64% 72%, rgb(0, 51, 128) 72% 80%, #e3e3e3 80%);
}
#logo
{
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(177, 177, 177);
    height: 100px;
    max-width: 400px;
    border-radius: 50%;
}
#logo h1
{
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(177, 177, 177) ;
}
#logo h2
{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    padding-top: 5px;
}
nav
{
    max-width: 180px;
    margin: auto;
    border-radius: 15px;
    background-color: steelblue;
}
.navbg
{
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
}
a
{
    font-size: 20px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}
#navbarNav
{
    margin-top: 5px;
}
#navbarNav a
{
    border: 2px solid rgb(0, 51, 128);
    display: flex;
    justify-content: center;
    background-color: rgb(177, 177, 177);
    margin-top: 2px;
    transition-duration: .2s;
}
#navbarNav a:hover
{
    background-color: rgb(221, 221, 221);
    text-decoration: steelblue; 
}
.content, .aboutbg, .cgbg, .hbg
{
    padding: 30px;
    background-color: rgb(255, 255, 255);
}
#projects, #cgPics, #hpics
{
    display: flex;
    padding-top: 20px;
}
#projects:nth-of-type(1), #cgPics:nth-of-type(1), #hpics:nth-of-type(1)
{
    align-content: center;
}
#projects:nth-of-type(2), #cgPics:nth-of-type(2), #hpics:nth-of-type(2)
{
    align-content: center;
}
#projects:nth-of-type(3), #cgPics:nth-of-type(3), #hpics:nth-of-type(3)
{
    align-content: center;
}
#projects li, #cgPics li, #hpics li
{
    flex: 30%;
    text-align: center;
}
#projects img
{
    max-width: 80%; 
    max-height: 80%;
}
#cgPics img, #hpics img
{
    max-width: 95%;
    max-height: 95%;
}
#about
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.aboutImg
{
    flex: 1;
}
#about img
{
    max-height: 100%;
    max-width: 100%;
}

.aboutTxt
{
    flex: 2;
    margin-left: 50px;
}
.aboutTxt p
{
    max-height: 100%;
    max-width: 100%;
}
@media (max-width: 1200px)
{
    #about
    {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .aboutImg
    {
        margin: auto;
        max-width: 400px;
    }
    .aboutTxt
    {
        margin-top: 30px;
    }
}
h4
{
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    border-top: 2px dotted steelblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
